@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
  font-family: Lato, sans-serif;
  color: #222;
}

a {
  color: #e90101;
  text-decoration: none;
}

a:visited {
  color: #e13c3c;
}

a:hover {
  text-decoration: underline;
  color: #ea4747;
}

section {
  margin: 3ex auto 0 auto;
  padding: 1ex 1em;
}

video {
  max-width: 640px;
  margin: 0 auto;
  display: block;
  padding: 2px;
  background-color: white;
}

h1 {
  max-width: 810px;
  margin: 10px auto 30px auto;
  padding: 0;
  font-size: 324%;
}

p {
  margin: 1ex auto;
  max-width: 820px;
}

p.subheading {
  font-weight: bold;
  font-size: 112%;
}

.capitals {
  text-transform: uppercase;
  letter-spacing: 0.21em;
}

.disclaimer {
  margin-top: 10ex;
  font-size: smaller;
  color: #eee !important;
  background-color: #222 !important;
}
