@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 13pt;
}

article {
  clear: both;
}

  article.no-float {
    width: 100%;
    max-width: unset;
    margin: 0;
  }

    article.no-float > section {
      margin: 3ex auto 0 auto;
      max-width: 810px;
      padding: 1ex 1em;
      font-size: smaller;
    }

  article.dark {
    color: #eee !important;
    background-color: #222 !important;
  }

a {
  color: #e90101;
  text-decoration: none;
}

  a:visited {
    color: #e13c3c;
  }

  a:hover {
    text-decoration: underline;
    color: #ea4747;
  }

section {
  max-width: 810px;
  margin: 0 auto;
  padding: 1ex 0;
  clear: both;
}

a.download {
  display: inline-block;
  height: 44px;
  background-color: #d80000;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font: bold 14px/44px Lato, sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 0 1em;
  margin: 2ex 3em 2ex 0;
}

  a.download:hover {
    background-color: #f11;
  }

  a.download:active {
    -moz-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    -o-transform: translate(0, 1px);
    -webkit-transform: translate(0, 1px);
    transform: translate(0, 1px);
    background-color: #f33;
  }

video {
  margin: 16px 0;
  padding: 2px;
  background-color: white;
}

h1, h2, h3, h4, h5 {
  clear: both;
  font-weight: 900;
  margin: 3ex auto 0 auto;
  max-width: 810px;
}

h1 {
  font-size: 610%;
  margin-top: 0;
  color: black;
}

h2, h3, h4 {
  margin: 20px 0 0 0;
}

p {
  max-width: 810px;
  margin: 1ex auto;
  line-height: 18pt;
}

  p.subheading {
    font-size: 105%;
    margin-bottom: 4ex;
    color: black;
    font-weight: 900;
  }

.figure {
  text-align: center;
  margin: 4ex 0 5ex 0;
  padding: 20px 0;
  clear: both;
}

  .figure.float-left img {
    float: left;
    display: inline-block;
    margin-right: 20px;
  }

  .figure .title {
    margin: 2ex 3em;
    font-weight: 700;
    font-size: smaller;
    text-align: center;
  }

  .figure.float-left .title {
    text-align: left;
  }

  .title p {
    line-height: unset;
  }

ol.steps {
  counter-reset: step;
  margin-left: 40px;
}

ol.steps > li {
  list-style: none;
  position: relative;
  line-height: 18pt;
  margin: 1ex 0;
  min-height: 40px;
}

ol.steps > li:before {
  content: counter(step);
  counter-increment: step;
  position: absolute;
  top: 0.5ex;
  left: -40px;
  display: inline-block;
  width: 32px;
  height: 32px;
  color: white;
  text-align: center;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background: rgb(155, 45, 42);
  background: linear-gradient(rgb(206, 59, 55), rgb(203, 61, 58), rgb(155, 45, 42));
  font: bold 16px/32px Lato, sans-serif;
}

q::before {
  content: "“";
}

q::after {
  content: "”";
}

.gui {
}

  .gui::before {
    content: "»";
  }

  .gui::after {
    content: "«";
  }

ul {
  list-style-type: square;
  margin: 1ex 0 1ex 2em;
}

  ul > li {
    padding: 0.2ex 0;
  }

.capitals {
  text-transform: uppercase;
  letter-spacing: 0.21em;
}

.code, code {
  font-family: monospace;
  font-size: 12pt;
  background-color: #e2dfdf;
  padding: 0 0.25em;
  color: black !important;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
  -ms-word-break: break-word;
  word-break: break-word;
}
