@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 12pt;
}

article {
  margin: 3ex auto 0 auto;
  max-width: 810px;
}

a {
  color: #e90101;
  text-decoration: none;
}

a:visited {
  color: #e13c3c;
}

a:hover {
  text-decoration: underline;
  color: #ea4747;
}

section {
  padding: 1ex 1em;
}

video {
  max-width: 640px;
  margin: 16px 0;
  padding: 2px;
  background-color: white;
}

h1, h2, h3, h4 {
  margin: 10px 0 0 0;
}

h1 {
  font-size: 660%;
  font-weight: 900;
  color: black;
}

p {
  margin: 1ex 0;
}

p.subheading {
  font-size: 114%;
  margin-bottom: 4ex;
  color: black;
  font-weight: 900;
}

ul {
  list-style-type: square;
  margin: 1ex 0 1ex 2em;
}

.capitals {
  text-transform: uppercase;
  letter-spacing: 0.21em;
}

.disclaimer {
  margin-top: 10ex;
  font-size: smaller;
  color: #eee !important;
  background-color: #222 !important;
}
