*.pro.user*
.DS_Store
Makefile*
.qmake.stash
libSESAM/release/*
libSESAM/debug/*
UnitTests/release/*
UnitTests/debug/*
Qt-SESAM/Makefile*
Qt-SESAM/release/*
Qt-SESAM/debug/*
Qt-SESAM/ui_*.h
Qt-SESAM/doc/*
Qt-SESAM/QtSESAM
Qt-SESAM/qrc_*.cpp
Qt-SESAM/Qt-SESAM
libSESAM/libSESAM.a
UnitTests/Qt-SESAM-UnitTests
HashMaster/HashMaster
cryptopp/libcryptopp.prl
*.log
*.o
moc_*.cpp
*.qm
*.moc
realhuman_phill.txt
cain.txt
hotmail.txt
john.txt
myspace.txt
porn-unknown.txt
realuniq.txt
twitter-banned.txt
500-worst-passwords.txt
all.txt
alypaa.txt
