*.pro.user*
Makefile*
ctSESAM/deploy/ctSESAM*.exe
ctSESAM/deploy/ctSESAM*.exe.txt
ctSESAM/deploy/ctSESAM*.exe.asc
ctSESAM/Makefile*
ctSESAM/release/*
ctSESAM/debug/*
ctSESAM/ui_mainwindow.h
ctSESAM/doc/*
*.qm
realhuman_phill.txt
cain.txt
hotmail.txt
john.txt
myspace.txt
porn-unknown.txt
realuniq.txt
twitter-banned.txt
500-worst-passwords.txt
all.txt
alypaa.txt
