* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  min-width: 256px;
  background-color: #d2eaff;
}
.icon {
  background-color: #ffe7d2;
  line-height: 0;
}
.main {
  padding: 1ex 1em;
}
h1 {
  font-weight: bold;
  font-size: 140%;
  margin: 1ex 1em;
}
#proxy-connection-status {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: underline;
}
.copyright {
  font-size: smaller;
  color: #555;
  margin: 3em 1ex 0.1em 1ex;
}
